*.user
*.sdf
*.opensdf
*/svnrev.h
*.suo
*.log
*.ncb
Debug
Release
Release_Pipeline
Debug_Pipeline
*.swp
*.bak
cppcheck.xml
TestResults
*.VC.db
*.VC.opendb
.vs

distrib/AIModuleLoader
distrib/Chaoslauncher/Plugins/BWAPI_*
distrib/Chaoslauncher/BWAPI*
distrib/ExampleAIClient
distrib/ExampleAIModule
distrib/ExampleTournamentModule
distrib/include
distrib/BWAPILIB
distrib/BWAPIClient
distrib/Shared
distrib/MPQdraft/BWAPI_*
distrib/Starcraft/SNP_DirectIP.snp
distrib/Starcraft/bwapi-data/BWAPI*.dll
bwapi/libReplayToolTest/TestData/Replay_Tool_Actual.exe
bwapi/ipch/
distrib/Chaoslauncher/__log.txt
distrib/ExampleAIClient/Source/
bwapi/packages/
apps/cygwin/
apps/http*
BWAPI.7z

build
build_msvc
nuget.exe

