body {
  margin:0px;
  padding:0px;
  background-color: white;
}

a {
  color: #09c;
  text-decoration: none;
}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#ddd}

div.header {
  margin: 0px 0px 0px 0px;
  padding: 2px 5px 2px 5px;
  border: none;
  background-color: #BBEEBB;
  font: 10px Verdana;
  color: #000000;
}

div.content {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  border: none;
  color: #000000;
  font-family: verdana, sans-serif;
  font-size: 11px;
}

div.content h1 {
  margin: 12px 0px 0px 0px;
  padding: 0px;
  font-family: tahoma;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

div.content h2 {
  margin: 12px 0px 0px 0px;
  padding: 0px;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
}

div.content p {
  font: 11px;
  margin: 8px 0px 0px 30px;
  padding: 0px;
}

div.content pre {
  margin: 8px 10px 0px 30px;
  padding: 3px 10px 0px 2px;
  border: none;
  border-top: solid 1px #000000;
  background-color: #E0E0E0;
  font: 11px courier new;
  color: #114411;
}

