/*
@media print
{
  #top { display: none; }
  #side-nav { display: none; }
  #nav-path { display: none; }
  body { overflow:visible; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
  .summary { display: none; }
  .memitem { page-break-inside: avoid; }
  #doc-content
  {
    margin-left:0 !important;
    height:auto !important;
    width:auto !important;
    overflow:inherit;
    display:inline;
  }
  #google_translate_element { display: none; }
}
*/

/* ==================================================================================================================
cmdbtns.css
==================================================================================================================
*/
.cmdbtn {
    background-image: url(cmdbtns.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.cmdbtn-icon0 {
    background-position: 0 0;
}

.cmdbtn-icon1 {
    background-position: -32px 0;
}

.cmdbtn-icon10 {
    background-position: -64px 0;
}

.cmdbtn-icon100 {
    background-position: -96px 0;
}

.cmdbtn-icon101 {
    background-position: -128px 0;
}

.cmdbtn-icon102 {
    background-position: -160px 0;
}

.cmdbtn-icon103 {
    background-position: -192px 0;
}

.cmdbtn-icon104 {
    background-position: -224px 0;
}

.cmdbtn-icon105 {
    background-position: -256px 0;
}

.cmdbtn-icon106 {
    background-position: -288px 0;
}

.cmdbtn-icon107 {
    background-position: -320px 0;
}

.cmdbtn-icon108 {
    background-position: -352px 0;
}

.cmdbtn-icon109 {
    background-position: -384px 0;
}

.cmdbtn-icon11 {
    background-position: -416px 0;
}

.cmdbtn-icon110 {
    background-position: -448px 0;
}

.cmdbtn-icon111 {
    background-position: -480px 0;
}

.cmdbtn-icon112 {
    background-position: -512px 0;
}

.cmdbtn-icon113 {
    background-position: -544px 0;
}

.cmdbtn-icon114 {
    background-position: -576px 0;
}

.cmdbtn-icon115 {
    background-position: -608px 0;
}

.cmdbtn-icon116 {
    background-position: -640px 0;
}

.cmdbtn-icon117 {
    background-position: -672px 0;
}

.cmdbtn-icon118 {
    background-position: -704px 0;
}

.cmdbtn-icon119 {
    background-position: -736px 0;
}

.cmdbtn-icon12 {
    background-position: -768px 0;
}

.cmdbtn-icon120 {
    background-position: -800px 0;
}

.cmdbtn-icon121 {
    background-position: -832px 0;
}

.cmdbtn-icon122 {
    background-position: -864px 0;
}

.cmdbtn-icon123 {
    background-position: -896px 0;
}

.cmdbtn-icon124 {
    background-position: -928px 0;
}

.cmdbtn-icon125 {
    background-position: -960px 0;
}

.cmdbtn-icon126 {
    background-position: -992px 0;
}

.cmdbtn-icon127 {
    background-position: -1024px 0;
}

.cmdbtn-icon128 {
    background-position: -1056px 0;
}

.cmdbtn-icon129 {
    background-position: -1088px 0;
}

.cmdbtn-icon13 {
    background-position: -1120px 0;
}

.cmdbtn-icon130 {
    background-position: -1152px 0;
}

.cmdbtn-icon131 {
    background-position: -1184px 0;
}

.cmdbtn-icon132 {
    background-position: -1216px 0;
}

.cmdbtn-icon133 {
    background-position: -1248px 0;
}

.cmdbtn-icon134 {
    background-position: -1280px 0;
}

.cmdbtn-icon135 {
    background-position: -1312px 0;
}

.cmdbtn-icon136 {
    background-position: -1344px 0;
}

.cmdbtn-icon137 {
    background-position: -1376px 0;
}

.cmdbtn-icon138 {
    background-position: -1408px 0;
}

.cmdbtn-icon139 {
    background-position: -1440px 0;
}

.cmdbtn-icon14 {
    background-position: -1472px 0;
}

.cmdbtn-icon140 {
    background-position: -1504px 0;
}

.cmdbtn-icon141 {
    background-position: -1536px 0;
}

.cmdbtn-icon142 {
    background-position: -1568px 0;
}

.cmdbtn-icon143 {
    background-position: -1600px 0;
}

.cmdbtn-icon144 {
    background-position: -1632px 0;
}

.cmdbtn-icon145 {
    background-position: -1664px 0;
}

.cmdbtn-icon146 {
    background-position: -1696px 0;
}

.cmdbtn-icon147 {
    background-position: -1728px 0;
}

.cmdbtn-icon148 {
    background-position: -1760px 0;
}

.cmdbtn-icon149 {
    background-position: -1792px 0;
}

.cmdbtn-icon15 {
    background-position: -1824px 0;
}

.cmdbtn-icon150 {
    background-position: -1856px 0;
}

.cmdbtn-icon151 {
    background-position: -1888px 0;
}

.cmdbtn-icon152 {
    background-position: -1920px 0;
}

.cmdbtn-icon153 {
    background-position: -1952px 0;
}

.cmdbtn-icon154 {
    background-position: -1984px 0;
}

.cmdbtn-icon155 {
    background-position: -2016px 0;
}

.cmdbtn-icon156 {
    background-position: -2048px 0;
}

.cmdbtn-icon157 {
    background-position: -2080px 0;
}

.cmdbtn-icon158 {
    background-position: -2112px 0;
}

.cmdbtn-icon159 {
    background-position: -2144px 0;
}

.cmdbtn-icon16 {
    background-position: -2176px 0;
}

.cmdbtn-icon160 {
    background-position: -2208px 0;
}

.cmdbtn-icon161 {
    background-position: -2240px 0;
}

.cmdbtn-icon162 {
    background-position: -2272px 0;
}

.cmdbtn-icon163 {
    background-position: -2304px 0;
}

.cmdbtn-icon164 {
    background-position: -2336px 0;
}

.cmdbtn-icon165 {
    background-position: -2368px 0;
}

.cmdbtn-icon166 {
    background-position: -2400px 0;
}

.cmdbtn-icon167 {
    background-position: -2432px 0;
}

.cmdbtn-icon168 {
    background-position: -2464px 0;
}

.cmdbtn-icon169 {
    background-position: -2496px 0;
}

.cmdbtn-icon17 {
    background-position: -2528px 0;
}

.cmdbtn-icon170 {
    background-position: -2560px 0;
}

.cmdbtn-icon171 {
    background-position: -2592px 0;
}

.cmdbtn-icon172 {
    background-position: -2624px 0;
}

.cmdbtn-icon173 {
    background-position: -2656px 0;
}

.cmdbtn-icon174 {
    background-position: -2688px 0;
}

.cmdbtn-icon175 {
    background-position: -2720px 0;
}

.cmdbtn-icon176 {
    background-position: -2752px 0;
}

.cmdbtn-icon177 {
    background-position: -2784px 0;
}

.cmdbtn-icon178 {
    background-position: -2816px 0;
}

.cmdbtn-icon179 {
    background-position: -2848px 0;
}

.cmdbtn-icon18 {
    background-position: -2880px 0;
}

.cmdbtn-icon180 {
    background-position: -2912px 0;
}

.cmdbtn-icon181 {
    background-position: -2944px 0;
}

.cmdbtn-icon182 {
    background-position: -2976px 0;
}

.cmdbtn-icon183 {
    background-position: -3008px 0;
}

.cmdbtn-icon184 {
    background-position: -3040px 0;
}

.cmdbtn-icon185 {
    background-position: -3072px 0;
}

.cmdbtn-icon186 {
    background-position: -3104px 0;
}

.cmdbtn-icon187 {
    background-position: -3136px 0;
}

.cmdbtn-icon188 {
    background-position: -3168px 0;
}

.cmdbtn-icon189 {
    background-position: -3200px 0;
}

.cmdbtn-icon19 {
    background-position: -3232px 0;
}

.cmdbtn-icon190 {
    background-position: -3264px 0;
}

.cmdbtn-icon191 {
    background-position: -3296px 0;
}

.cmdbtn-icon192 {
    background-position: -3328px 0;
}

.cmdbtn-icon193 {
    background-position: -3360px 0;
}

.cmdbtn-icon194 {
    background-position: -3392px 0;
}

.cmdbtn-icon195 {
    background-position: -3424px 0;
}

.cmdbtn-icon196 {
    background-position: -3456px 0;
}

.cmdbtn-icon197 {
    background-position: -3488px 0;
}

.cmdbtn-icon198 {
    background-position: -3520px 0;
}

.cmdbtn-icon199 {
    background-position: -3552px 0;
}

.cmdbtn-icon2 {
    background-position: -3584px 0;
}

.cmdbtn-icon20 {
    background-position: -3616px 0;
}

.cmdbtn-icon200 {
    background-position: -3648px 0;
}

.cmdbtn-icon201 {
    background-position: -3680px 0;
}

.cmdbtn-icon202 {
    background-position: -3712px 0;
}

.cmdbtn-icon203 {
    background-position: -3744px 0;
}

.cmdbtn-icon204 {
    background-position: -3776px 0;
}

.cmdbtn-icon205 {
    background-position: -3808px 0;
}

.cmdbtn-icon206 {
    background-position: -3840px 0;
}

.cmdbtn-icon207 {
    background-position: -3872px 0;
}

.cmdbtn-icon208 {
    background-position: -3904px 0;
}

.cmdbtn-icon209 {
    background-position: -3936px 0;
}

.cmdbtn-icon21 {
    background-position: -3968px 0;
}

.cmdbtn-icon210 {
    background-position: -4000px 0;
}

.cmdbtn-icon211 {
    background-position: -4032px 0;
}

.cmdbtn-icon212 {
    background-position: -4064px 0;
}

.cmdbtn-icon213 {
    background-position: -4096px 0;
}

.cmdbtn-icon214 {
    background-position: -4128px 0;
}

.cmdbtn-icon215 {
    background-position: -4160px 0;
}

.cmdbtn-icon216 {
    background-position: -4192px 0;
}

.cmdbtn-icon217 {
    background-position: -4224px 0;
}

.cmdbtn-icon218 {
    background-position: -4256px 0;
}

.cmdbtn-icon219 {
    background-position: -4288px 0;
}

.cmdbtn-icon22 {
    background-position: -4320px 0;
}

.cmdbtn-icon220 {
    background-position: -4352px 0;
}

.cmdbtn-icon221 {
    background-position: -4384px 0;
}

.cmdbtn-icon222 {
    background-position: -4416px 0;
}

.cmdbtn-icon223 {
    background-position: -4448px 0;
}

.cmdbtn-icon224 {
    background-position: -4480px 0;
}

.cmdbtn-icon225 {
    background-position: -4512px 0;
}

.cmdbtn-icon226 {
    background-position: -4544px 0;
}

.cmdbtn-icon227 {
    background-position: -4576px 0;
}

.cmdbtn-icon228 {
    background-position: -4608px 0;
}

.cmdbtn-icon229 {
    background-position: -4640px 0;
}

.cmdbtn-icon23 {
    background-position: -4672px 0;
}

.cmdbtn-icon230 {
    background-position: -4704px 0;
}

.cmdbtn-icon231 {
    background-position: -4736px 0;
}

.cmdbtn-icon232 {
    background-position: -4768px 0;
}

.cmdbtn-icon233 {
    background-position: -4800px 0;
}

.cmdbtn-icon234 {
    background-position: -4832px 0;
}

.cmdbtn-icon235 {
    background-position: -4864px 0;
}

.cmdbtn-icon236 {
    background-position: -4896px 0;
}

.cmdbtn-icon237 {
    background-position: -4928px 0;
}

.cmdbtn-icon238 {
    background-position: -4960px 0;
}

.cmdbtn-icon239 {
    background-position: -4992px 0;
}

.cmdbtn-icon24 {
    background-position: -5024px 0;
}

.cmdbtn-icon240 {
    background-position: -5056px 0;
}

.cmdbtn-icon241 {
    background-position: -5088px 0;
}

.cmdbtn-icon242 {
    background-position: -5120px 0;
}

.cmdbtn-icon243 {
    background-position: -5152px 0;
}

.cmdbtn-icon244 {
    background-position: -5184px 0;
}

.cmdbtn-icon245 {
    background-position: -5216px 0;
}

.cmdbtn-icon246 {
    background-position: -5248px 0;
}

.cmdbtn-icon247 {
    background-position: -5280px 0;
}

.cmdbtn-icon248 {
    background-position: -5312px 0;
}

.cmdbtn-icon249 {
    background-position: -5344px 0;
}

.cmdbtn-icon25 {
    background-position: -5376px 0;
}

.cmdbtn-icon250 {
    background-position: -5408px 0;
}

.cmdbtn-icon251 {
    background-position: -5440px 0;
}

.cmdbtn-icon252 {
    background-position: -5472px 0;
}

.cmdbtn-icon253 {
    background-position: -5504px 0;
}

.cmdbtn-icon254 {
    background-position: -5536px 0;
}

.cmdbtn-icon255 {
    background-position: -5568px 0;
}

.cmdbtn-icon256 {
    background-position: -5600px 0;
}

.cmdbtn-icon257 {
    background-position: -5632px 0;
}

.cmdbtn-icon258 {
    background-position: -5664px 0;
}

.cmdbtn-icon259 {
    background-position: -5696px 0;
}

.cmdbtn-icon26 {
    background-position: -5728px 0;
}

.cmdbtn-icon260 {
    background-position: -5760px 0;
}

.cmdbtn-icon261 {
    background-position: -5792px 0;
}

.cmdbtn-icon262 {
    background-position: -5824px 0;
}

.cmdbtn-icon263 {
    background-position: -5856px 0;
}

.cmdbtn-icon264 {
    background-position: -5888px 0;
}

.cmdbtn-icon265 {
    background-position: -5920px 0;
}

.cmdbtn-icon266 {
    background-position: -5952px 0;
}

.cmdbtn-icon267 {
    background-position: -5984px 0;
}

.cmdbtn-icon268 {
    background-position: -6016px 0;
}

.cmdbtn-icon269 {
    background-position: -6048px 0;
}

.cmdbtn-icon27 {
    background-position: -6080px 0;
}

.cmdbtn-icon270 {
    background-position: -6112px 0;
}

.cmdbtn-icon271 {
    background-position: -6144px 0;
}

.cmdbtn-icon272 {
    background-position: -6176px 0;
}

.cmdbtn-icon273 {
    background-position: -6208px 0;
}

.cmdbtn-icon274 {
    background-position: -6240px 0;
}

.cmdbtn-icon275 {
    background-position: -6272px 0;
}

.cmdbtn-icon276 {
    background-position: -6304px 0;
}

.cmdbtn-icon277 {
    background-position: -6336px 0;
}

.cmdbtn-icon278 {
    background-position: -6368px 0;
}

.cmdbtn-icon279 {
    background-position: -6400px 0;
}

.cmdbtn-icon28 {
    background-position: -6432px 0;
}

.cmdbtn-icon280 {
    background-position: -6464px 0;
}

.cmdbtn-icon281 {
    background-position: -6496px 0;
}

.cmdbtn-icon282 {
    background-position: -6528px 0;
}

.cmdbtn-icon283 {
    background-position: -6560px 0;
}

.cmdbtn-icon284 {
    background-position: -6592px 0;
}

.cmdbtn-icon285 {
    background-position: -6624px 0;
}

.cmdbtn-icon286 {
    background-position: -6656px 0;
}

.cmdbtn-icon287 {
    background-position: -6688px 0;
}

.cmdbtn-icon288 {
    background-position: -6720px 0;
}

.cmdbtn-icon289 {
    background-position: -6752px 0;
}

.cmdbtn-icon29 {
    background-position: -6784px 0;
}

.cmdbtn-icon290 {
    background-position: -6816px 0;
}

.cmdbtn-icon291 {
    background-position: -6848px 0;
}

.cmdbtn-icon292 {
    background-position: -6880px 0;
}

.cmdbtn-icon293 {
    background-position: -6912px 0;
}

.cmdbtn-icon294 {
    background-position: -6944px 0;
}

.cmdbtn-icon295 {
    background-position: -6976px 0;
}

.cmdbtn-icon296 {
    background-position: -7008px 0;
}

.cmdbtn-icon297 {
    background-position: -7040px 0;
}

.cmdbtn-icon298 {
    background-position: -7072px 0;
}

.cmdbtn-icon299 {
    background-position: -7104px 0;
}

.cmdbtn-icon3 {
    background-position: -7136px 0;
}

.cmdbtn-icon30 {
    background-position: -7168px 0;
}

.cmdbtn-icon300 {
    background-position: -7200px 0;
}

.cmdbtn-icon301 {
    background-position: -7232px 0;
}

.cmdbtn-icon302 {
    background-position: -7264px 0;
}

.cmdbtn-icon303 {
    background-position: -7296px 0;
}

.cmdbtn-icon304 {
    background-position: -7328px 0;
}

.cmdbtn-icon305 {
    background-position: -7360px 0;
}

.cmdbtn-icon306 {
    background-position: -7392px 0;
}

.cmdbtn-icon307 {
    background-position: -7424px 0;
}

.cmdbtn-icon308 {
    background-position: -7456px 0;
}

.cmdbtn-icon309 {
    background-position: -7488px 0;
}

.cmdbtn-icon31 {
    background-position: -7520px 0;
}

.cmdbtn-icon310 {
    background-position: -7552px 0;
}

.cmdbtn-icon311 {
    background-position: -7584px 0;
}

.cmdbtn-icon312 {
    background-position: -7616px 0;
}

.cmdbtn-icon313 {
    background-position: -7648px 0;
}

.cmdbtn-icon314 {
    background-position: -7680px 0;
}

.cmdbtn-icon315 {
    background-position: -7712px 0;
}

.cmdbtn-icon316 {
    background-position: -7744px 0;
}

.cmdbtn-icon317 {
    background-position: -7776px 0;
}

.cmdbtn-icon318 {
    background-position: -7808px 0;
}

.cmdbtn-icon319 {
    background-position: -7840px 0;
}

.cmdbtn-icon32 {
    background-position: -7872px 0;
}

.cmdbtn-icon320 {
    background-position: -7904px 0;
}

.cmdbtn-icon321 {
    background-position: -7936px 0;
}

.cmdbtn-icon322 {
    background-position: -7968px 0;
}

.cmdbtn-icon323 {
    background-position: -8000px 0;
}

.cmdbtn-icon324 {
    background-position: -8032px 0;
}

.cmdbtn-icon325 {
    background-position: -8064px 0;
}

.cmdbtn-icon326 {
    background-position: -8096px 0;
}

.cmdbtn-icon327 {
    background-position: -8128px 0;
}

.cmdbtn-icon328 {
    background-position: -8160px 0;
}

.cmdbtn-icon329 {
    background-position: -8192px 0;
}

.cmdbtn-icon33 {
    background-position: -8224px 0;
}

.cmdbtn-icon330 {
    background-position: -8256px 0;
}

.cmdbtn-icon331 {
    background-position: -8288px 0;
}

.cmdbtn-icon332 {
    background-position: -8320px 0;
}

.cmdbtn-icon333 {
    background-position: -8352px 0;
}

.cmdbtn-icon334 {
    background-position: -8384px 0;
}

.cmdbtn-icon335 {
    background-position: -8416px 0;
}

.cmdbtn-icon336 {
    background-position: -8448px 0;
}

.cmdbtn-icon337 {
    background-position: -8480px 0;
}

.cmdbtn-icon338 {
    background-position: -8512px 0;
}

.cmdbtn-icon339 {
    background-position: -8544px 0;
}

.cmdbtn-icon34 {
    background-position: -8576px 0;
}

.cmdbtn-icon340 {
    background-position: -8608px 0;
}

.cmdbtn-icon341 {
    background-position: -8640px 0;
}

.cmdbtn-icon342 {
    background-position: -8672px 0;
}

.cmdbtn-icon343 {
    background-position: -8704px 0;
}

.cmdbtn-icon344 {
    background-position: -8736px 0;
}

.cmdbtn-icon345 {
    background-position: -8768px 0;
}

.cmdbtn-icon346 {
    background-position: -8800px 0;
}

.cmdbtn-icon347 {
    background-position: -8832px 0;
}

.cmdbtn-icon348 {
    background-position: -8864px 0;
}

.cmdbtn-icon349 {
    background-position: -8896px 0;
}

.cmdbtn-icon35 {
    background-position: -8928px 0;
}

.cmdbtn-icon350 {
    background-position: -8960px 0;
}

.cmdbtn-icon351 {
    background-position: -8992px 0;
}

.cmdbtn-icon352 {
    background-position: -9024px 0;
}

.cmdbtn-icon353 {
    background-position: -9056px 0;
}

.cmdbtn-icon354 {
    background-position: -9088px 0;
}

.cmdbtn-icon355 {
    background-position: -9120px 0;
}

.cmdbtn-icon356 {
    background-position: -9152px 0;
}

.cmdbtn-icon357 {
    background-position: -9184px 0;
}

.cmdbtn-icon358 {
    background-position: -9216px 0;
}

.cmdbtn-icon359 {
    background-position: -9248px 0;
}

.cmdbtn-icon36 {
    background-position: -9280px 0;
}

.cmdbtn-icon360 {
    background-position: -9312px 0;
}

.cmdbtn-icon361 {
    background-position: -9344px 0;
}

.cmdbtn-icon362 {
    background-position: -9376px 0;
}

.cmdbtn-icon363 {
    background-position: -9408px 0;
}

.cmdbtn-icon364 {
    background-position: -9440px 0;
}

.cmdbtn-icon365 {
    background-position: -9472px 0;
}

.cmdbtn-icon366 {
    background-position: -9504px 0;
}

.cmdbtn-icon367 {
    background-position: -9536px 0;
}

.cmdbtn-icon368 {
    background-position: -9568px 0;
}

.cmdbtn-icon369 {
    background-position: -9600px 0;
}

.cmdbtn-icon37 {
    background-position: -9632px 0;
}

.cmdbtn-icon370 {
    background-position: -9664px 0;
}

.cmdbtn-icon371 {
    background-position: -9696px 0;
}

.cmdbtn-icon372 {
    background-position: -9728px 0;
}

.cmdbtn-icon373 {
    background-position: -9760px 0;
}

.cmdbtn-icon374 {
    background-position: -9792px 0;
}

.cmdbtn-icon375 {
    background-position: -9824px 0;
}

.cmdbtn-icon376 {
    background-position: -9856px 0;
}

.cmdbtn-icon377 {
    background-position: -9888px 0;
}

.cmdbtn-icon378 {
    background-position: -9920px 0;
}

.cmdbtn-icon379 {
    background-position: -9952px 0;
}

.cmdbtn-icon38 {
    background-position: -9984px 0;
}

.cmdbtn-icon380 {
    background-position: -10016px 0;
}

.cmdbtn-icon381 {
    background-position: -10048px 0;
}

.cmdbtn-icon382 {
    background-position: -10080px 0;
}

.cmdbtn-icon383 {
    background-position: -10112px 0;
}

.cmdbtn-icon384 {
    background-position: -10144px 0;
}

.cmdbtn-icon385 {
    background-position: -10176px 0;
}

.cmdbtn-icon386 {
    background-position: -10208px 0;
}

.cmdbtn-icon387 {
    background-position: -10240px 0;
}

.cmdbtn-icon388 {
    background-position: -10272px 0;
}

.cmdbtn-icon389 {
    background-position: -10304px 0;
}

.cmdbtn-icon39 {
    background-position: -10336px 0;
}

.cmdbtn-icon4 {
    background-position: -10368px 0;
}

.cmdbtn-icon40 {
    background-position: -10400px 0;
}

.cmdbtn-icon41 {
    background-position: -10432px 0;
}

.cmdbtn-icon42 {
    background-position: -10464px 0;
}

.cmdbtn-icon43 {
    background-position: -10496px 0;
}

.cmdbtn-icon44 {
    background-position: -10528px 0;
}

.cmdbtn-icon45 {
    background-position: -10560px 0;
}

.cmdbtn-icon46 {
    background-position: -10592px 0;
}

.cmdbtn-icon47 {
    background-position: -10624px 0;
}

.cmdbtn-icon48 {
    background-position: -10656px 0;
}

.cmdbtn-icon49 {
    background-position: -10688px 0;
}

.cmdbtn-icon5 {
    background-position: -10720px 0;
}

.cmdbtn-icon50 {
    background-position: -10752px 0;
}

.cmdbtn-icon51 {
    background-position: -10784px 0;
}

.cmdbtn-icon52 {
    background-position: -10816px 0;
}

.cmdbtn-icon53 {
    background-position: -10848px 0;
}

.cmdbtn-icon54 {
    background-position: -10880px 0;
}

.cmdbtn-icon55 {
    background-position: -10912px 0;
}

.cmdbtn-icon56 {
    background-position: -10944px 0;
}

.cmdbtn-icon57 {
    background-position: -10976px 0;
}

.cmdbtn-icon58 {
    background-position: -11008px 0;
}

.cmdbtn-icon59 {
    background-position: -11040px 0;
}

.cmdbtn-icon6 {
    background-position: -11072px 0;
}

.cmdbtn-icon60 {
    background-position: -11104px 0;
}

.cmdbtn-icon61 {
    background-position: -11136px 0;
}

.cmdbtn-icon62 {
    background-position: -11168px 0;
}

.cmdbtn-icon63 {
    background-position: -11200px 0;
}

.cmdbtn-icon64 {
    background-position: -11232px 0;
}

.cmdbtn-icon65 {
    background-position: -11264px 0;
}

.cmdbtn-icon66 {
    background-position: -11296px 0;
}

.cmdbtn-icon67 {
    background-position: -11328px 0;
}

.cmdbtn-icon68 {
    background-position: -11360px 0;
}

.cmdbtn-icon69 {
    background-position: -11392px 0;
}

.cmdbtn-icon7 {
    background-position: -11424px 0;
}

.cmdbtn-icon70 {
    background-position: -11456px 0;
}

.cmdbtn-icon71 {
    background-position: -11488px 0;
}

.cmdbtn-icon72 {
    background-position: -11520px 0;
}

.cmdbtn-icon73 {
    background-position: -11552px 0;
}

.cmdbtn-icon74 {
    background-position: -11584px 0;
}

.cmdbtn-icon75 {
    background-position: -11616px 0;
}

.cmdbtn-icon76 {
    background-position: -11648px 0;
}

.cmdbtn-icon77 {
    background-position: -11680px 0;
}

.cmdbtn-icon78 {
    background-position: -11712px 0;
}

.cmdbtn-icon79 {
    background-position: -11744px 0;
}

.cmdbtn-icon8 {
    background-position: -11776px 0;
}

.cmdbtn-icon80 {
    background-position: -11808px 0;
}

.cmdbtn-icon81 {
    background-position: -11840px 0;
}

.cmdbtn-icon82 {
    background-position: -11872px 0;
}

.cmdbtn-icon83 {
    background-position: -11904px 0;
}

.cmdbtn-icon84 {
    background-position: -11936px 0;
}

.cmdbtn-icon85 {
    background-position: -11968px 0;
}

.cmdbtn-icon86 {
    background-position: -12000px 0;
}

.cmdbtn-icon87 {
    background-position: -12032px 0;
}

.cmdbtn-icon88 {
    background-position: -12064px 0;
}

.cmdbtn-icon89 {
    background-position: -12096px 0;
}

.cmdbtn-icon9 {
    background-position: -12128px 0;
}

.cmdbtn-icon90 {
    background-position: -12160px 0;
}

.cmdbtn-icon91 {
    background-position: -12192px 0;
}

.cmdbtn-icon92 {
    background-position: -12224px 0;
}

.cmdbtn-icon93 {
    background-position: -12256px 0;
}

.cmdbtn-icon94 {
    background-position: -12288px 0;
}

.cmdbtn-icon95 {
    background-position: -12320px 0;
}

.cmdbtn-icon96 {
    background-position: -12352px 0;
}

.cmdbtn-icon97 {
    background-position: -12384px 0;
}

.cmdbtn-icon98 {
    background-position: -12416px 0;
}

.cmdbtn-icon99 {
    background-position: -12448px 0;
}

/* ==================================================================================================================
tticons.css
==================================================================================================================
*/
.tticon {
    background-image: url(tticons.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
}

.tticon-energy {
    background-position: 0 0;
}

.tticon-gas0 {
    background-position: -14px 0;
}

.tticon-gas1 {
    background-position: -28px 0;
}

.tticon-gas2 {
    background-position: -42px 0;
}

.tticon-ore {
    background-position: -56px 0;
}

.tticon-supply0 {
    background-position: -70px 0;
}

.tticon-supply1 {
    background-position: -84px 0;
}

.tticon-supply2 {
    background-position: -98px 0;
}
